@charset "utf-8";
/* CSS Document */

.menubar {
	display: block;
}

.menubar li{
	display: inline-block;
position: relative;
	z-index: 200;
}

.menubar ul{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 22px;
	font-variant-position: normal;
	text-align: center;
}
.menubar li a {
	font-weight: 1000px;
text-decoration: none;
padding: 11px;
display: block;
color: #ffffff;
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.menubar li a:hover, .menubar li:hover > a{color: #ffffff; background: #9CA3DA;}

.menubar{
	background: #112D93;
	overflow: hidden;
	box-shadow: 0 0 20px 0 #070707;
	position: relative;
}

.logotipo{
	display: block;
	background: #DBD4D4;
}
.logotipo {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 65px;
	text-align: center;
	color: #170EBE;
}
.logotipo span{
	color: #9F0F12;
	background: #DBD4D4;
}
.main h6{
	color: #0A0000;
	font-size: 1.425em;
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-top: -40px;
	margin-left: 5px;
	line-height: 0.1em;
}
.slider{
	width: 90%;
	margin: auto;
	overflow: hidden;
	background: #DBD4D4;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 15s infinite alternate;
	background: #DBD4D4;
	
}

.slider li{
	width: 50%;
	background: #DBD4D4;
}

.slider img{
	width: 100%;
	
}

@keyframes cambio{
	0% {margin-left: 0%;}
	20% {margin-left: 0%;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.slider h5{
	font-size: 24px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	
}
.servicios{
	background: #169E81;
	overflow: hidden;
	border-bottom: 5px solid #04633E;
}
.servicios h3{
	color: #fff;
	font-size: 1.870em;
	text-align: center;
	padding-bottom: 15px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.servicios h4{
	color: #ffff;
	font-size: 35px;
	text-align: center;
	padding-bottom: 14px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.servicios figure{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0 -4px 0 0;
	padding: 0px;
}
.servicios p{
	color: #fff;
	font-size: 25px;
	text-align: center;
}
#departamentos #esteli{
	background: #C0740F;
	overflow: hidden;
	position: relative;
}
#departamentos #jinotega{
	background: #16CD30;
	overflow: hidden;
	position: relative;
}
#departamentos #rivas{
	background: #121B88;
	overflow: hidden;
	position: relative;
}
#departamentos #chontales{
	background: #9F070A;
	overflow: hidden;
	position: relative;
}
#departamentos h3{
	color: #fff;
	font-size: 1.375em;
	text-align: center;
	padding-bottom: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
#departamentos p{
	color: #fff;
	font-size: 0.975em;
	text-align: justify;
	margin-left: 2.375em;
	margin-right: 2.375em;
	padding-bottom: 17px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#departamentos figure{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 15px;
}
#contacto{
	background: #0892C2;
	overflow: hidden;
	position: relative;
}
#contacto h3{
	color: #fff;
	font-size: 1.375em;
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
#contacto li{
	color: #fff;
	font-size: 1em;
	padding-bottom: 10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.piedepagina{
	background: #444141;
	overflow: hidden;
	position: relative;
}
.piedepagina h4{
	color: #fff;
	font-size: 1.375em;
	text-align: center;
	padding-bottom: 1px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.piedepagina h5{
	color: #fff;
	font-size: 1.085em;
	text-align: center;
	padding-bottom: 20px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}


